.line{
    position: absolute;
    width: 1px;
    opacity: 1;
    background-color: #000;

    top:100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;

    pointer-events: none;
}

.x1{
    animation: glitchUp 4s linear infinite;
    transform: rotate(20deg);
}

.x2{
    animation: glitchUp 6s linear infinite;
    transform: rotate(5deg) translate(200px, 0);
}

.x3{
    animation: glitchDown 3s linear infinite;
    transform: translate(-200px,0) rotate(78deg);
}

.x4{
    animation: glitchDown 2s linear infinite;
    transform: translate(300px,0) rotate(40deg);
}

@keyframes glitchUp{
    0%{top: 100vh; opacity: 0;}
    2%,12%,27%{opacity: 1;}
    4%,10%,14%,25%,29%{opacity: 0;}

    50%{top: 0; opacity: 0;}
    75%{opacity: 0;}
    100%{top: -100vh; opacity: 0;}
}

@keyframes glitchDown{
    0%{top: 0;bottom: 100vh; opacity: 0;}
    2%,12%,27%{opacity: 1;}
    4%,10%,14%,25%,29%{opacity: 0;}

    50%{bottom: 0; opacity: 0;}
    75%{opacity: 0;}
    100%{bottom: -100vh; opacity: 0;}
}
